.text-prize {
  background: linear-gradient(180deg, #0185ff 0%, #6bb8ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  /* text-shadow: 0px 0px 0px #000; */
  /* font-family: 'Roboto Condensed'; */
  /* font-size: 48px; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-dollar {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 11px #0185ff;
  /* font-family: 'Roboto Condensed'; */
  /* font-size: 128px; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-conquer {
  background: linear-gradient(180deg, #0185ff 0%, #6bb8ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
}

.text-seasonal {
  background: linear-gradient(180deg, #0185ff 0%, #6bb8ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-dollar2 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 11px #0185ff;
  /* font-family: Roboto Condensed; */
  /* font-size: 48px; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-team {
  background: linear-gradient(133.03deg, rgba(247, 247, 247, 0.8) 4.1%, rgba(247, 247, 247, 0.8) 114.11%);
  border: 1px solid #2754f3;
  border-radius: 2.397px;
}
