@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.entrance {
  animation: myAnim 1s ease 0s 1 normal forwards;
}

.scale-up {
  animation: scaleUp 1s ease 0s 1 forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.horizontal-center {
  animation: horizontalCenter 1s ease 0s 1 normal forwards;
}

@keyframes horizontalCenter {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.scale-forward {
  animation: scaleForward 1s ease 0s 1 normal forwards;
}

@keyframes scaleForward {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.horizontal-center {
  animation: horizontalCenter 1s ease 0s 1 normal forwards;
}

@keyframes horizontalCenter {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
